@{ 
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "PostPage";
    PageData["current"] = "Forums";

    string mail = "";
    string errorMsg = "";
    string ForumName = "";
    string ForumDesc = "";
    string PostTitle = "";
    string PostContent = "";
    string Username_Poster = "";
    string Username_Commenter = "";
    string Rank = "";
    int Upvote = 0;
    int Downvote = 0;
    string UporDown = "";
    int Forum_Forum_Id = 0;
    int Post_Id = 0;
    string IsPrivate = "";

    if (Session["mail"] != null)
    {
        mail = Session["mail"].ToString();
    }
    else { Response.Redirect("~/login.cshtml"); }

    if (Request.QueryString["ForumId"] != null || Request.QueryString["PostId"] != null)
    {
        Forum_Forum_Id = Request.QueryString["ForumId"].AsInt();
        Post_Id = Request.QueryString["PostId"].AsInt();
    }
    else { Response.Redirect("~/ForumPage.cshtml"); }
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    var UserData = db.QuerySingle("SELECT * FROM Profiel WHERE Email = @0", mail);
    if (UserData == null)
    {
        Session.Abandon();
        Response.Redirect("~/login.cshtml");
    }
    Username_Commenter = UserData.Username;
    Rank = UserData.Rank;
    var SelectForum = db.QuerySingle("SELECT * FROM [Forum] WHERE Forum_Id = @0", Forum_Forum_Id);
    var SelectPost = db.QuerySingle("SELECT * FROM [Post] WHERE Post_Id = @0", Post_Id);
    var SelectComments = db.Query("SELECT * FROM [Comments] WHERE Post_Post_Id = @0 ORDER BY Comment_Id DESC", Post_Id);
    var VotedAs = db.QuerySingle("SELECT Voted FROM IsVoted WHERE Post_Post_Id = @0 AND Username_Username = @1", Post_Id, Username_Commenter);
    if (VotedAs != null)
    {
        UporDown = VotedAs.Voted;
    }

    if (SelectPost != null && SelectForum != null)
    {
        ForumName = SelectForum.Forum_name;
        ForumDesc = SelectForum.Description;
        IsPrivate = SelectForum.IsPrivate;
        if (IsPrivate == "Y" && Rank != "Owner" && Rank != "Teacher")
        {
            Response.Redirect("~/ForumPage.cshtml");
        }
        PostTitle = SelectPost.Post_Title;
        PostContent = SelectPost.Post_Content;
        Upvote = SelectPost.Upvote;
        Downvote = SelectPost.Downvote;
        Username_Poster = SelectPost.Profiel_Username;
    }
    else { Response.Redirect("~/Forumpage.cshtml"); }
    string PosterRank = db.QuerySingle("SELECT Rank FROM Profiel WHERE Username = @0", Username_Poster).Rank;

    bool IsReported = false;
    if (Request.QueryString["IsReported"] != null)
    {
        IsReported = Request.QueryString["IsReported"].AsBool();
    }


    if (IsPost)
    {
        ///Report
        if (Request.Form["report"] != null)
        {
            db.Execute("UPDATE Post SET Report = @0 WHERE Post_Id = @1", 1, Post_Id);
            Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id + "&IsReported=" + true);
        }

        ///Post Comment
        if (Request.Form["post-comment"] != null && Request.Form["Upvote"] == null && Request.Form["Downvote"] == null)
        {
            Validation.RequireField("comment", "Please enter something");
            Validation.Add("comment", Validator.StringLength(200, 1, "You've exceeded the maximum comment size of 200 characters"));
            if (Validation.IsValid())
            {
                string time = DateTime.Now.ToShortTimeString();
                string date = DateTime.Now.ToShortDateString();
                db.Execute("INSERT INTO Comments (Forum_Forum_Id, Post_Post_Id, Username_Username, Comment, Time, Date) VALUES (@0, @1, @2, @3, @4, @5)", Forum_Forum_Id, Post_Id, Username_Commenter, Request.Form["comment"], time, date);
                if (Username_Commenter != Username_Poster)
                {
                    db.Execute("INSERT INTO Notifications(Profiel_Username, Subject_Username, Notification, Url) VALUES (@0, @1, @2, @3)", Username_Poster, Username_Commenter, ("Commented on your Post " + ((char)34) + PostTitle + ((char)34)), Request.RawUrl);
                }
                Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
            }
        }

        ///Upvote or Downvote
        string Upvoted = "";
        string Downvoted = "";
        if (Request.Form["Upvote"] != null || Request.Form["Downvote"] != null)
        {
            string Voted = "";
            Upvoted = Request.Form["Upvote"];
            Downvoted = Request.Form["Downvote"];
            var IsVoted = db.QuerySingle("SELECT Voted FROM IsVoted WHERE Post_Post_Id = @0 AND Username_Username = @1", Post_Id, Username_Commenter);
            if (IsVoted != null)
            {
                Voted = IsVoted.Voted;
            }

            if (Upvoted == "Upvote")
            {
                if (Voted == "Upvoted")
                {
                    db.Execute("UPDATE Post SET Upvote = @0 WHERE Post_Id = @1", Upvote - 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Retracted", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Upvote_Overwritten")
                {
                    db.Execute("UPDATE Post SET Upvote = @0 WHERE Post_Id = @1", Upvote - 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Retracted", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Downvoted")
                {
                    db.Execute("UPDATE Post SET Downvote = @0, Upvote = @1 WHERE Post_Id = @2", Downvote - 1, Upvote + 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Upvote_Overwritten", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Downvote_Overwritten")
                {
                    db.Execute("UPDATE Post SET Downvote = @0, Upvote = @1 WHERE Post_Id = @2", Downvote - 1, Upvote + 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Upvote_Overwritten", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "")
                {
                    db.Execute("UPDATE Post SET Upvote = @0 WHERE Post_Id = @1", Upvote + 1, Post_Id);
                    db.Execute("INSERT INTO IsVoted(Forum_Forum_Id, Post_Post_Id, Username_Username, Voted) VALUES(@0, @1, @2, @3)", Forum_Forum_Id, Post_Id, Username_Commenter, "Upvoted");
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Retracted")
                {
                    db.Execute("UPDATE Post SET Upvote = @0 WHERE Post_Id = @1", Upvote + 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Upvoted", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else
                {
                    errorMsg = "Oops, Something went wrong";
                }
            }
            else if (Downvoted == "Downvote")
            {
                if (Voted == "Downvoted")
                {
                    db.Execute("UPDATE Post SET Downvote = @0 WHERE Post_Id = @1", Downvote - 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Retracted", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Downvote_Overwritten")
                {
                    db.Execute("UPDATE Post SET Downvote = @0 WHERE Post_Id = @1", Downvote - 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Retracted", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Upvoted")
                {
                    db.Execute("UPDATE Post SET Upvote = @0, Downvote = @1 WHERE Post_Id = @2", Upvote - 1, Downvote + 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Downvote_Overwritten", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Upvote_Overwritten")
                {
                    db.Execute("UPDATE Post SET Downvote = @0, Upvote = @1 WHERE Post_Id = @1", Downvote + 1, Upvote - 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Downvote_Overwritten", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "")
                {
                    db.Execute("UPDATE Post SET Downvote = @0 WHERE Post_Id = @1", Downvote + 1, Post_Id);
                    db.Execute("INSERT INTO IsVoted(Forum_Forum_Id ,Post_Post_Id, Username_Username, Voted) VALUES(@0, @1, @2, @3)", Forum_Forum_Id, Post_Id, Username_Commenter, "Downvoted");
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Retracted")
                {
                    db.Execute("UPDATE Post SET Downvote = @0 WHERE Post_Id = @1", Downvote + 1, Post_Id);
                    db.Execute("UPDATE IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Downvoted", Post_Id, Username_Commenter);
                    db.Close();
                    System.Threading.Thread.Sleep(1500);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else
                {
                    errorMsg = "Oops, Something went wrong";
                }
            }
        }

    }
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Stylesheets/Forum.css" rel="stylesheet" type="text/css" />
    <link href="~/Stylesheets/Comments.css" rel="stylesheet" type="text/css" />
    <link href="~/Stylesheets/Layout.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">

        .modal-confirm {
            color: #636363;
            width: 400px;
        }

            .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
                text-align: center;
                font-size: 14px;
            }

            .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -10px;
            }

            .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -2px;
            }

            .modal-confirm .modal-body {
                color: #999;
            }

            .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
                padding: 10px 15px 25px;
            }

                .modal-confirm .modal-footer a {
                    color: #999;
                }

            .modal-confirm .icon-box {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;
                z-index: 9;
                text-align: center;
                border: 3px solid #f15e5e;
            }

                .modal-confirm .icon-box i {
                    color: #f15e5e;
                    font-size: 46px;
                    display: inline-block;
                    margin-top: 13px;
                }

            .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #60c7c1;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                min-width: 120px;
                border: none;
                min-height: 40px;
                border-radius: 3px;
                margin: 0 5px;
                outline: none !important;
            }

            .modal-confirm .btn-info {
                background: #c1c1c1;
            }

                .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                    background: #a8a8a8;
                }

            .modal-confirm .btn-danger {
                background: #f15e5e;
            }

                .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                    background: #ee3535;
                }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>
</head>
<body style="background-color: #202225;">
    <div class="container">
        <div class="row" style="padding:20px">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content forum-container" style="background-color: #343a40">
                        <a href="~/PostPage.cshtml?ForumId=@Forum_Forum_Id">back</a>
                        <div class="forum-title">
                            <h3 style="color: white">@ForumName</h3>
                        </div>
                        <div class="forum-item active" style="color:white">
                            @if (IsReported == true)
                            {
                                <a class="link-replace" style="float: right; color: #007aff;">Reported!</a>
                            }
                            else
                            { <a style="float: right; color: #a00000;" href="#myModal" data-toggle="modal">Report</a>}
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-bolt" style="color:#007aff"></i>
                                    </div>
                                    <label class="forum-item-title" style="color:#007aff">@PostTitle </label>
                                    <div class="forum-sub-title" style="color:white">@PostContent</div>
                                    <br />
                                    @switch (PosterRank)
                                    {
                                        case "Student":
                                            <div class="forum-sub-title" style="color:#dddddd; font-size: 12px;">by: &nbsp; @Username_Poster &nbsp; <span class="rank">(@PosterRank)</span></div>
                                            break;
                                        case "Teacher":
                                            <div class="forum-sub-title" style="color:#dddddd; font-size: 12px;">by: &nbsp; @Username_Poster &nbsp; <span class="rank" style="color: #cc3c71">(@PosterRank)</span></div>
                                            break;
                                        case "Owner":
                                            <div class="forum-sub-title" style="color:#dddddd; font-size: 12px;">by: &nbsp; @Username_Poster &nbsp; <span class="rank" style="color: #ff7220">(@PosterRank)</span></div>
                                            break;
                                    }

                                </div>
                                <div class="col-md-1 forum-info">
                                    <form method="post">
                                        <span class="views-number" style="color:white">
                                            @Upvote
                                        </span>
                                        <div>
                                            <small style="color:white">Upvotes</small>
                                            <button class="vote" name="Upvote" type="submit" value="Upvote">
                                                @if (UporDown == "Upvoted" || UporDown == "Upvote_Overwritten")
                                                {<i id="upvoted" class="fas fa-arrow-alt-circle-up"></i> }
                                                else
                                                { <i id="notvoted" class="fa fa-arrow-alt-circle-up"></i>}
                                                <i id="loading" class="fas fa-broom"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <form method="post">
                                        <span class="views-number" style="color:white">
                                            @Downvote
                                        </span>
                                        <div>
                                            <small style="color:white">Downvotes</small>
                                            <button class="vote" name="Downvote" type="submit" value="Downvote">
                                                @if (UporDown == "Downvoted" || UporDown == "Downvote_Overwritten")
                                                {<i id="downvoted" class="fas fa-arrow-alt-circle-down"></i> }
                                                else
                                                { <i id="notvoted" class="fa fa-arrow-alt-circle-down"></i>}
                                                <i id="loading" class="fas fa-broom"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                @if (errorMsg != "")
                                {@errorMsg}
                            </div>

                            <div id="myModal" class="modal fade" style="display: none;">
                                <div class="modal-dialog modal-confirm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <div class="icon-box">
                                                <i class="fas fa-exclamation"></i>
                                            </div>
                                            <h4 class="modal-title">Report</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Reason for reporting: <br /> <span style="font-weight: bold;">@PostTitle</span>?<br /></p>
                                            <form method="post">
                                                <center>
                                                    <select name="reason" style="max-width: 200px;">
                                                        <option value="offensive">This post is Offensive.</option>
                                                        <option value="spam">This post is/contains Spam.</option>
                                                        <option value="irrelevant">This post is Irrelevant to this website and/or forum.</option>
                                                        <option value="dangerous">This post contains Dangerous or Inappropriate content.</option>
                                                    </select>
                                                </center>
                                            </form>
                                        </div>
                                        <form class="modal-footer" method="post">
                                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                            <button name="report" type="submit" class="btn btn-danger">Report</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <form method="post">
                                <input name="comment" placeholder="Comment something..." class="comment-box" type="text" />
                                <input name="post-comment" value="Post" class="comment-submit" type="submit" />
                            </form>
                        </div>
                        <br /><br />
                        <!-- Foreach -->
                        @foreach (var comment in SelectComments)
                        {
                            string CommenterRank = db.QuerySingle("SELECT Rank FROM Profiel WHERE Username = @0", comment.Username_Username).Rank;
                            int Replies_Amount = db.QuerySingle("SELECT COUNT(Reply_Id) AS Amount FROM Replies WHERE Comment_Comment_Id = @0", comment.Comment_Id).Amount;
                              <div class="forum-item active" style="color:white">
                                  <div class="row">
                                      <div class="col-md-9">
                                          <div class="forum-icon">
                                              <i class="fa fa-user" style="color: #dddddd"></i>
                                          </div>
                                          @switch (CommenterRank)
                                          {
                                              case "Student":
                                                  <label class="forum-item-title" style="color:#007aff">@comment.Username_Username <p class="rank">(@CommenterRank)</p></label>
                                                  break;
                                              case "Teacher":
                                                  <label class="forum-item-title" style="color:#007aff">@comment.Username_Username <p class="rank" style="color: #cc3c71">(@CommenterRank)</p></label>
                                                  break;
                                              case "Owner":
                                                  <label class="forum-item-title" style="color:#007aff">@comment.Username_Username <p class="rank" style="color: #ff7220">(@CommenterRank)</p></label>
                                                  break;
                                          }
                                          <div class="forum-sub-title" style="color:white">@comment.Comment</div>
                                      </div>
                                  </div>
                                  <div id="date-time" class="row">
                                      <div class="col-3">
                                          <label>@comment.Time</label>
                                      </div>
                                      &nbsp;
                                      <div class="col-3">
                                          <label>@comment.Date</label>
                                      </div>
                                  </div>
                                  <div style="padding-bottom: 4px;"></div>
                                  @if (Replies_Amount == 0)
                                  {
                                      <a style="margin-left: 50px;" href="~/Replies.cshtml?CommentId=@comment.Comment_Id&PostId=@Post_Id&ForumId=@Forum_Forum_Id">Reply</a>
                                  }
                                  else
                                  {
                                      <a style="margin-left: 50px;" href="~/Replies.cshtml?CommentId=@comment.Comment_Id&PostId=@Post_Id&ForumId=@Forum_Forum_Id">View Replies (@Replies_Amount)</a>
                                  }
                                  <div style="padding-bottom: 6px;"></div>
                              </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>