@{ 
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "PostPage";
    PageData["current"] = "Forums";

    string errorMsg = "";
    string ForumName = "";
    string ForumDesc = "";
    string PostTitle = "";
    string PostContent = "";
    string Username_Poster = "";
    string Username_Commenter = "";
    string Rank = "";
    int Upvote = 0;
    int Downvote = 0;
    string UporDown = "";
    int Forum_Forum_Id = 0;
    int Post_Id = 0;
    string IsPrivate = "";
    if (Request.QueryString["ForumId"] != null || Request.QueryString["PostId"] != null)
    {
        Forum_Forum_Id = Request.QueryString["ForumId"].AsInt();
        Post_Id = Request.QueryString["PostId"].AsInt();
    }
    else { Response.Redirect("~/ForumPage.cshtml"); }
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
    string provider = "System.Data.SqlClient";
    Database db = Database.OpenConnectionString(connectionString, provider);

    var UserData = db.QuerySingle("SELECT * FROM Profiel WHERE Email = @0", Session["mail"]);
    if (UserData == null)
    {
        Session.Abandon();
        Response.Redirect("~/login.cshtml");
    }
    Username_Commenter = UserData.Username;
    Rank = UserData.Rank;
    if (IsPrivate == "Y")
    {
        if (Rank != "Owner" || Rank != "Teacher")
        {
            Response.Redirect("~/ForumPage.cshtml");
        }
    }
    var SelectForum = db.QuerySingle("SELECT * FROM [Forum] WHERE Forum_Id = @0", Forum_Forum_Id);
    var SelectPost = db.QuerySingle("SELECT * FROM [Post] WHERE Post_Id = @0", Post_Id);
    var SelectComments = db.Query("SELECT * FROM [Comments] WHERE Post_Post_Id = @0 ORDER BY Comment_Id DESC", Post_Id);
    var VotedAs = db.QuerySingle("SELECT Voted FROM Forum_IsVoted WHERE Post_Post_Id = @0 AND Username_Username = @1", Post_Id, Username_Commenter);
    if (VotedAs != null)
    {
        UporDown = VotedAs.Voted;
    }

    if (SelectPost != null && SelectForum != null)
    {
        ForumName = SelectForum.Forum_name;
        ForumDesc = SelectForum.Description;
        IsPrivate = SelectForum.IsPrivate;
        if (IsPrivate == "Y" && Rank != "Owner" || IsPrivate == "Y" && Rank != "Teacher")
        {
            Response.Redirect("~/ForumPage.cshtml");
        }
        PostTitle = SelectPost.Post_Title;
        PostContent = SelectPost.Post_Content;
        Upvote = SelectPost.Upvote;
        Downvote = SelectPost.Downvote;
        Username_Poster = SelectPost.Profiel_Username;
    }
    else { Response.Redirect("~/Forumpage.cshtml"); }

    if (IsPost)
    {
        if (Request.Form["post-comment"] != null && Request.Form["Upvote"] == null && Request.Form["Downvote"] == null)
        {
            Validation.RequireField("comment", "Please enter something");
            Validation.Add("comment", Validator.StringLength(200, 1, "You've exceeded the maximum comment size of 200 characters"));
            if (Validation.IsValid())
            {
                string time = DateTime.Now.ToShortTimeString();
                string date = DateTime.Now.ToShortDateString();
                db.Execute("INSERT INTO Comments VALUES (@0, @1, @2, @3, @4)", Post_Id, Username_Commenter, Request.Form["comment"], time, date);
                Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
            }
        }
        string Upvoted = "";
        string Downvoted = "";
        System.Threading.Thread.Sleep(2000);
        if (Request.Form["Upvote"] != null || Request.Form["Downvote"] != null)
        {
            string Voted = "";
            Upvoted = Request.Form["Upvote"];
            Downvoted = Request.Form["Downvote"];
            var IsVoted = db.QuerySingle("SELECT Voted FROM Forum_IsVoted WHERE Post_Post_Id = @0 AND Username_Username = @1", Post_Id, Username_Commenter);
            if (IsVoted != null)
            {
                Voted = IsVoted.Voted;
            }

            if (Upvoted == "Upvote")
            {
                if (Voted == "Upvoted")
                {
                    db.Execute("UPDATE Post SET Upvote = @0 WHERE Post_Id = @1", Upvote -= 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Retracted", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Upvote_Overwritten")
                {
                    db.Execute("UPDATE Post SET Upvote = @0 WHERE Post_Id = @1", Upvote -= 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Retracted", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Downvoted")
                {
                    db.Execute("UPDATE Post SET Downvote = @0, Upvote = @1 WHERE Post_Id = @2", Downvote -= 1, Upvote += 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Upvote_Overwritten", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Downvote_Overwritten")
                {
                    db.Execute("UPDATE Post SET Downvote = @0, Upvote = @1 WHERE Post_Id = @2", Downvote -= 1, Upvote += 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Upvote_Overwritten", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "")
                {
                    db.Execute("UPDATE Post SET Upvote = @0 WHERE Post_Id = @1", Upvote += 1, Post_Id);
                    db.Execute("INSERT INTO Forum_IsVoted(Post_Post_Id, Username_Username, Voted) VALUES(@0, @1, @2)", Post_Id, Username_Commenter, "Upvoted");
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Retracted")
                {
                    db.Execute("UPDATE Post SET Upvote = @0 WHERE Post_Id = @1", Upvote += 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Upvoted", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else
                {
                    errorMsg = "Oops, Something went wrong";
                }
            }
            else if (Downvoted == "Downvote")
            {
                if (Voted == "Downvoted")
                {
                    db.Execute("UPDATE Post SET Downvote = @0 WHERE Post_Id = @1", Downvote -= 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Retracted", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Downvote_Overwritten")
                {
                    db.Execute("UPDATE Post SET Downvote = @0 WHERE Post_Id = @1", Downvote -= 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Retracted", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Upvoted")
                {
                    db.Execute("UPDATE Post SET Upvote = @0, Downvote = @1 WHERE Post_Id = @2", Upvote -= 1, Downvote += 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Downvote_Overwritten", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Upvote_Overwritten")
                {
                    db.Execute("UPDATE Post SET Downvote = @0, Upvote = @1 WHERE Post_Id = @1", Downvote += 1, Upvote -= 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Downvote_Overwritten", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "")
                {
                    db.Execute("UPDATE Post SET Downvote = @0 WHERE Post_Id = @1", Downvote += 1, Post_Id);
                    db.Execute("INSERT INTO Forum_IsVoted(Post_Post_Id, Username_Username, Voted) VALUES(@0, @1, @2)", Post_Id, Username_Commenter, "Downvoted");
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else if (Voted == "Retracted")
                {
                    db.Execute("UPDATE Post SET Downvote = @0 WHERE Post_Id = @1", Downvote += 1, Post_Id);
                    db.Execute("UPDATE Forum_IsVoted SET Voted = @0 WHERE Post_Post_Id = @1 AND Username_Username = @2", "Downvoted", Post_Id, Username_Commenter);
                    Response.Redirect("~/CommentsPage?ForumId=" + Forum_Forum_Id + "&PostId=" + Post_Id);
                }
                else
                {
                    errorMsg = "Oops, Something went wrong";
                }
            }
        }

    }
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Stylesheets/Forum.css" rel="stylesheet" type="text/css" />
    <link href="~/Stylesheets/Comments.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body style="background-color: #202225;">
    <div class="container">
        <div class="row" style="padding:20px">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content forum-container" style="background-color: #343a40">
                        <div class="forum-title">
                            <h3 style="color: white">@ForumName</h3>
                        </div>
                        <div class="forum-item active" style="color:white">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-bolt" style="color:#007aff"></i>
                                    </div>
                                    <label class="forum-item-title" style="color:#007aff">@PostTitle </label>
                                    <div class="forum-sub-title" style="color:white">@PostContent</div>
                                    <br />
                                    <div class="forum-sub-title" style="color:#dddddd; font-size: 12px;">by: &nbsp; @Username_Poster</div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <form method="post">
                                        <span class="views-number" style="color:white">
                                            @Upvote
                                        </span>
                                        <div>
                                            <small style="color:white">Upvotes</small>
                                            <button class="vote" name="Upvote" type="submit" value="Upvote">
                                                @if (UporDown == "Upvoted" || UporDown == "Upvote_Overwritten")
                                                {<i id="upvoted" class="fas fa-arrow-alt-circle-up"></i> }
                                                else
                                                { <i id="notvoted" class="fa fa-arrow-alt-circle-up"></i>}
                                                <i id="loading" class="fas fa-broom"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <form method="post">
                                        <span class="views-number" style="color:white">
                                            @Downvote
                                        </span>
                                        <div>
                                            <small style="color:white">Downvotes</small>
                                            <button class="vote" name="Downvote" type="submit" value="Downvote">
                                                @if (UporDown == "Downvoted" || UporDown == "Downvote_Overwritten")
                                                {<i id="downvoted" class="fas fa-arrow-alt-circle-down"></i> }
                                                else
                                                { <i id="notvoted" class="fa fa-arrow-alt-circle-down"></i>}
                                                <i id="loading" class="fas fa-broom"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                @if (errorMsg != "")
                                {@errorMsg}
                            </div>
                        </div>
                        <div>
                            <form method="post">
                                <input name="comment" placeholder="Type something..." class="comment-box" type="text" />
                                <input name="post-comment" value="Post" class="comment-submit" type="submit" />
                            </form>
                        </div>
                        <br />
                        <!-- Foreach -->
                        @foreach (var comment in SelectComments)
                        {
                        <div class="forum-item active" style="color:white">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="fa fa-user" style="color: #dddddd"></i>
                                    </div>
                                    <label class="forum-item-title" style="color:#007aff">@comment.Username_Username</label>
                                    <div class="forum-sub-title" style="color:white">@comment.Comment</div>
                                </div>
                            </div>
                            <div id="date-time" class="row">
                                <div class="col-3">
                                    <label>@comment.Time</label>
                                </div>
                                &nbsp;
                                <div class="col-3">
                                    <label>@comment.Date</label>
                                </div>
                            </div>
                            <div style="padding-bottom: 6px;"></div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>