@{
    Validation.RequireField("mail", "You must enter an Email");
    Validation.RequireField("password", "You must enter a password");
    var mail = "";
    var password = "";


    if (IsPost && Validation.IsValid())
    {

        mail = Request.Form["mail"];
        password = Request.Form["password"];

        string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Harry_Potter.mdf;Integrated Security=True";
        string provider = "System.Data.SqlClient";
        Database db = Database.OpenConnectionString(connectionString, provider);

        // counts amount of users with a certain mail and password (0 means no user, 1 means user, > 1 means double users?)
        var dbcountuser = "SELECT COUNT(*) AS Counter FROM [Profiel] WHERE Email = @0 AND Password = @1";
        var dbcountuserquery = db.QuerySingle(dbcountuser, mail, password);
        int counter = dbcountuserquery.Counter;
        if (counter == 0)
        {
            <div class="alert">
                No user found
            </div>
        }
        else
        {
            if (Request.UrlReferrer.AbsolutePath == Request.Url.AbsolutePath)
            {
                if (Session["mail"] == null)
                {
                    Session["mail"] = Request.Form["mail"];
                    var selectrank = "SELECT Rank FROM [Profiel] WHERE Email = @0";
                    var ownerrank = db.QuerySingle(selectrank, mail).rank;
                    if (ownerrank == "Owner")
                    {
                        Response.Redirect("~/Admin page.cshtml");
                    }
                    else
                    {
                        Response.Redirect("~/HomePage.cshtml");
                    }


                }
                else
                {
                    var selectrank = "SELECT Rank FROM [Profiel] WHERE Email = @0";
                    var ownerrank = db.QuerySingle(selectrank, mail).rank;
                    if (ownerrank == "Owner")
                    {
                        Response.Redirect("~/Admin page.cshtml");
                    }
                    else
                    {
                        Response.Redirect("~/HomePage.cshtml");
                    }
                }
            }
        }
    }
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Stylesheets/StyleSheetLogin.css" rel="stylesheet" type="text/css">
    <title>Page Title</title>
    <style>
        .field-validation-error {
            color: red;
        }

        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

            .alert.success {
                background-color: #4CAF50;
            }

            .alert.info {
                background-color: #2196F3;
            }

            .alert.warning {
                background-color: #ff9800;
            }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <div class="container">
        <div class="card card-login mx-auto text-center bg-dark">
            <div class="card-header mx-auto bg-dark">
                <a href="~/HomePage.cshtml"> <img  src="~/Images/hp logo.png" class="w-75" alt="Logo"> </a><br />
                @Html.ValidationSummary()

            </div>
            <div class="card-body">
                <form action="" method="post">
                    @Html.ValidationMessage("mail")
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img style="max-width:26px" src="~/Images/wizard hat.png" /></span>
                        </div>
                        <input value="@Request.Form["mail"]" type="text" name="mail" class="form-control" placeholder="Email">
                    </div>
                    @Html.ValidationMessage("password")
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><img style="max-width:26px" src="~/Images/elder wand white.png" /></span>
                        </div>
                        <input value="@Request.Form["password"]" type="password" name="password" class="form-control" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <input type="submit" name="btn" value="Login" class="btn btn-outline-danger float-right login_btn">
                    </div>

                </form>
            </div>
        </div>
    </div>


</body>
</html> 